{% extends "base.html" %} {% block content %}
<div class="container text-center">
  <h2>Welcome to Six Blokes - Because Five Just Wasn't Enough!</h2>
  <div class="row">
    <div class="col">
      <p class="homescreen-text">
        Once upon a time, five guys thought they had the burger game figured
        out. Then along came Jerry, Terry, Harry, Barry, Garry, and Larry—six
        blokes who knew that more is always better. More burgers, more fries,
        more toppings, and definitely more sarcasm.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img id="homescreen-image" src="../../../static/images/founders-resturant.jpg" alt="jerry-terry-harry-barry-garry-larry">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="homescreen-text">
        At Six Blokes, we take our food seriously—ourselves? Not so much. Our
        burgers are juicier than a workplace scandal, our fries are crisper than
        your WiFi at a coffee shop, and our milkshakes? They bring all the
        blokes to the yard. So if you're craving a mouthwatering, handcrafted,
        grease-dripping, cheese-melting masterpiece, you've come to the right
        place. Grab a seat, loosen your belt, and prepare for a burger
        experience so good, you'll wonder why anyone ever settled for just five.
      </p>
    </div>
  </div>
</div>
{% endblock %}
