{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center bg-dark sign-in-box">
        <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                        <h2 class="form-header">Book a Table</h2>
                </div>
        </div>
        <div class="row">
                <div class="col-md-10 mt-3 m-auto">
                        {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'booking' %}" id="booking-form">
                                {% csrf_token %}
                                {{ booking_form | crispy }}
                                <button class="btn btn-signup right" type="submit">Book Table</button>
                        </form>
                        {% else %}
                        <p>Please login to make a booking</p>
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}