{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container text-center booking-list">
  <div class="row">
    <div class="col mt-3">
      <h2>Upcoming Bookings</h2>
      {% if user_bookings %}
      <table class="user-bookings">
        <tr>
          <th>Booking Date</th>
          <th>Time Slot</th>
          <th>Number of Guests</th>
          <th>Allergies</th>
          <th>Edit Booking</th>
          <th>Delete Booking</th>
        </tr>
        {% for booking in user_bookings %}
        <tr class="booking-entry">
          <td>{{ booking.date }}</td>
          <td>{{ booking.time_slot }}:00</td>
          <td>{{ booking.guests }}</td>
          <td>
            <ul>
              {% for allergy in booking.allergies.all %}
              <li class="list-unstyled flex-column">{{ allergy.name }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <button class="edit-btn" aria-label="edit" data-booking_id="{{ booking.id }}">
              <i class="fa-solid fa-pencil"></i>
            </button>
          </td>
          <td>
            <button class="delete-btn"aria-label="delete"  data-booking_id="{{ booking.id }}">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>You currently have no upcoming bookings</p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Edit modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Modify Booking?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Make the desired changes to your booking. Ensure to save your changes
        when done.
        <form method="POST" id="edit-booking-form">
          {% csrf_token %} 
          {{ booking_form }}
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" aria-label="close" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" aria-label="save changes" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Booking?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your booking? This action cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" aria-label="close" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a id="deleteConfirm" aria-label="confirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock %}