body {
    background-color: #F9FAFC;
    font-family: "Just Another Hand", serif;
    color: #ffcc00;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 75%;
    height: 150px;
    width: 400px;
    background-position: 50% 30%;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffcc00;
    font-size: 1.5em;
}

.navbar-light .navbar-toggler-icon {
    background: url(../images/burger-icon.jpg);
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.bg-dark {
    padding-top: 0;
}

.mx-auto {
    height: 142px;
}