{% extends "base.html" %} {% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <p class="homescreen-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis
        risus a risus maximus iaculis. Maecenas ac ultrices est, sit amet
        consequat justo. Integer egestas sem vitae nisl volutpat, at gravida
        arcu elementum. Praesent dictum iaculis pulvinar. Nam imperdiet nisi at
        turpis lacinia, ac convallis augue luctus. Ut ut metus non risus congue
        aliquet eu ac velit. Donec facilisis non arcu non sollicitudin.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
        <img
          id="homescreen-image"
          src="../../../static/images/founders.jpg"
          alt="jerry-terry-harry-barry-garry-larry"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="homescreen-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis
          risus a risus maximus iaculis. Maecenas ac ultrices est, sit amet
          consequat justo. Integer egestas sem vitae nisl volutpat, at gravida
          arcu elementum. Praesent dictum iaculis pulvinar. Nam imperdiet nisi
          at turpis lacinia, ac convallis augue luctus. Ut ut metus non risus
          congue aliquet eu ac velit. Donec facilisis non arcu non sollicitudin.
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
