{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In & Sign Up" %}{% endblock %}

{% block content %}
<div class="container text-center bg-dark sign-in-box">
  <div class="row">
    <!-- Sign In Form -->
    <div class="col mt-3">
      <h3>{% trans "Sign In" %}</h3>
      <form method="POST" action="{% url 'signin_signup' %}" id="signin-form" class="signin-signup-form">
        {% csrf_token %}
        {{ login_form.as_div }}
        <input type="hidden" name="form_type" value="login">
        <button class="btn btn-signup btn-primary right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Sign Up Form -->
    <div class="col mt-3">
      <h3>{% trans "Sign Up" %}</h3>
      <form method="POST" action="{% url 'signin_signup' %}" id="signup-form" class="signin-signup-form">
        {% csrf_token %}
        {{ signup_form.as_div }}
        <input type="hidden" name="form_type" value="signup">
        <button class="btn btn-signup btn-primary right" type="submit">{% trans "Create Account" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
