/*General-----------------------------------------------*/

body {
  background-color: #f9fafc;
  font-family: "Just Another Hand", serif;
  color: #ffcc00;
}

main {
  margin: 20px 0;
}

.btn {
  color: #ffcc00;
  border: 1px solid #ffcc00;
  font-size: 16px;
}

.btn-secondary:hover,
.btn-danger:hover {
  border-color: #f0f0f0;
  color: #f0f0f0;
}

h2 {
  color: #bd0000;
  font-family: "Irish Grover", serif;
}

h5 {
  font-size: 1.5em;
}

th {
  font-weight: 100;
}

.form-header {
  color: #ffcc00;
}

.modal-content {
  background-color: #212529;
}

.modal-body {
  font-size: 1.2em;
}

.modal-header,
.modal-footer {
  border-color: #ffcc00;
}

.login-message {
  margin: 0 10px 10px auto;
  font-size: 1.1em;
  border: solid 2px;
  padding: 0 5px;
  background-color: #212529;
  border-radius: 5px;
  width: fit-content;
  box-shadow: #212529 2px 2px;
}

/*Header-----------------------------------------------*/

.logo-container {
  flex-grow: 1;
}

.logo-link {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 120px;
  width: 200px;
  z-index: 1;
  margin-right: -35px;
}

.navbar {
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffcc00;
  font-size: 1.5em;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  color: #ffcc00;
  margin-right: -20px;
}

.navbar-toggler-icon > i {
  border: solid 1px;
  padding: 1px 2px;
  border-radius: 3px;
  font-size: 1.1em;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #bd0000;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #f9fafc;
}

/*Homescreen-----------------------------------------------*/

.homescreen-text {
  font-family: "Abel", serif;
  color: black;
}

#homescreen-image {
  border-radius: 10%;
  width: 80vw;
  max-width: 455px;
  margin: 20px 0 30px 0;
  border: solid 2px;
  box-shadow: #212529 2px 2px;
}

/*Sign in/ Sign up-----------------------------------------------*/

.signin-signup-form > p {
  display: flex;
  justify-content: flex-end;
  width: 82%;
  margin: 10px auto;
  max-width: 182px;
}

.signin-signup-form > p > label {
  align-self: center;
  flex-basis: 50%;
}

.signin-signup-form > p > input {
  max-height: 29.2px;
  flex-basis: 66%;
}

#signup-form > ul,
#signup-form > ul + p,
:has(+ #id_remember),
#id_remember {
  display: none;
}

.signin-signup-form .errorlist {
  width: 100%;
  margin: auto;
  list-style: none;
  color: #bd0000;
  background-color: #f9fafc;
  border: solid 2px #bd0000;
  border-radius: 5px;
  order: -1;
}

.signin-signup-form .errorlist li {
  margin-left: -32px;
}

#signup-form > .errorlist,
#signup-form > .errorlist + p {
  display: flex;
  justify-content: center;
}

#signup-form > .errorlist {
  flex-direction: column;
}

.sign-in-box {
  margin-top: 30px;
  width: 75%;
  max-width: 750px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.btn-signup,
.btn-signin {
  padding: 1px 10px;
}

/* .signin-signup-form .errorlist.nonfield {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

} */

/*Booking Form-----------------------------------------------*/
#div_id_allergies > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-check {
  padding: 0 12px;
  width: 50%;
}

input[id^="id_allergies_"],
#div_id_allergies .form-check-input {
  display: none; /* Hide the checkboxes */
}

#div_id_allergies .form-check-label {
  display: inline-block;
  width: 100%;
  margin: 5px;
  background-color: #f0f0f0;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
  font-size: 1.5em;
}

#div_id_allergies .form-check-label:hover {
  background-color: gray;
}

#div_id_allergies .form-check-input:checked + .form-check-label {
  background-color: #ffcc00;
  border-color: #bd0000;
}

/*Exsiting Bookings-----------------------------------------------*/

.user-bookings {
  width: 100%;
}

.user-bookings th {
  background-color: black;
  border: solid white 5px;
}

.user-bookings td {
  background-color: grey;
  border: solid white 5px;
}

.user-bookings button {
  height: 30px;
  width: 30px;
  margin: 3px;
  border: solid black;
  border-radius: 5px;
  background-color: #ffcc00;
  color: black;
  padding-bottom: 0;
  transition: all 0.5s ease;
}

.user-bookings button:hover {
  transition: all 0.5s ease;
  border: solid #ffcc00;
  background-color: black;
  color: #ffcc00;
}

.user-bookings ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2px;
  margin: 2px;
}

.user-bookings li {
  margin: 5px;
}

.modal input[id^="id_allergies_"] {
  display: inline;
}

/*Exsiting Bookings (Edit Modal)-----------------------------------------------*/

#editModal #edit-booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#editModal form > div {
  padding: 5px;
}

#editModal #id_time_slot,
#editModal #id_guests,
#editModal #id_booking_notes {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#edit-booking-form > div:nth-child(5) {
  border: solid #ffcc00;
  border-radius: 10px;
  margin: 10px 5px;
}

#edit-booking-form > div:nth-child(6) {
  width: 100%;
}

#editModal legend {
  font-size: inherit;
  text-align: center;
}

#editModal #id_allergies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#editModal #id_allergies > div {
  display: inline;
  padding: 10px;
}

#editModal .modal-footer {
  width: 100%;
}

/*Menu-----------------------------------------------*/

.menu {
  border-radius: 10px;
  width: 90%;
  max-width: 1024px;
}

.menu h2 {
  padding-top: 10px;
}

.menu .btn:hover {
  color: white;
}

.menu-collapse {
  width: 100%;
}

.menu-collapse > h3 {
  margin-bottom: 0;
}

.collapse > .card-body {
  margin-bottom: 20px;
  border: none;
}

.menu .card-body > ul {
  border-bottom: solid;
  padding-bottom: 10px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.menu-item li {
  padding: 5px;
}

.menu-item {
  font-size: 16px;
}

.menu-description {
  width: 65%;
}

.menu-allergens {
  padding-left: 0;
}

.menu-name {
  width: 100%;
  font-size: 1.2em;
}

.menu-image-container {
  height: 20vw;
  width: 20vw;
  max-height: 154px;
  max-width: 154px;
}

.menu-image-container .scale {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: solid 2px;
  box-shadow: #212529 2px 2px;
}
/*Footer-----------------------------------------------*/

footer {
  font-size: 1.5em;
  color: #ffcc00;
}

footer a {
  color: #ffcc00;
}

.contact-us {
  font-size: 16px;
}

/*Media Queries-----------------------------------------------*/

@media screen and (min-width: 425px) {
  /*Header-----------------------------------------------*/

  .logo {
    height: 150px;
    width: 250px;
  }

  /*Sign in/ Sign up-----------------------------------------------*/

  .signin-signup-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 470px;
    margin: auto;
  }

  .btn-signin,
  .btn-signup {
    margin: 10px 40%;
  }

  /*Booking Form-----------------------------------------------*/

  .form-check {
    width: 33%;
    padding: 2px 10px;
  }

  /*Footer-----------------------------------------------*/

  .contact-us {
    font-size: 1em;
  }
}

@media screen and (min-width: 565px) {
  /*Booking Form-----------------------------------------------*/

  .form-label {
    font-size: 1.5em;
  }

  #div_id_allergies > div {
    grid-template-columns: repeat(4, 1fr);
  }

  #booking-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #div_id_date,
  #div_id_time_slot,
  #div_id_guests {
    width: 25%;
    margin: auto;
  }

  #div_id_booking_notes {
    width: 100%;
  }

  .form-check {
    width: 25%;
  }

  /*Menu-----------------------------------------------*/

  .menu-item {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  /*Existing Bookings-----------------------------------------------*/

  .user-bookings {
    font-size: 1.2em;
  }

  .user-bookings button {
    font-size: 16px;
  }

  /*Menu-----------------------------------------------*/

  .menu-item {
    flex-wrap: nowrap;
  }

  .menu-name {
    width: 20%;
    width: fit-content;
    font-size: 1.5em;
  }

  .menu-description {
    font-size: 1.2em;
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  /*Header-----------------------------------------------*/

  .logo-link {
    height: 200px;
  }

  .logo {
    height: 200px;
    width: 350px;
    margin-left: -110%;
  }

  /*Existing Bookings-----------------------------------------------*/

  .user-bookings {
    font-size: 1.5em;
  }

  .user-bookings button {
    font-size: 16px;
  }
}
